IIFE a.k.a JavaScript Function Closures

**Bug report or feature request?** 
CONFIRMED SECURITY BUG

<!-- Note: sub-optimal but correct code is not a bug -->

**ES5 or ES6+ input?** 
ES6+

<!-- Note: for ES6 see: https://github.com/mishoo/UglifyJS2/tree/harmony#harmony -->

**Uglify version (`uglifyjs -V`)**
3.0.20

**JavaScript input**  <!-- ideally as small as possible -->
[Martii/UserScripts/blob/`35fcac`/src/RFC 2606§3/Hello, World/RFC 2606§3 - Hello, World.user.js](https://github.com/Martii/UserScripts/blob/35fcace494c417a7e0a8d2e98d7625d7546a4fac/src/RFC%202606%C2%A73/Hello%2C%20World/RFC%202606%C2%A73%20-%20Hello%2C%20World.user.js)

**The `uglifyjs` CLI command executed or `minify()` options used.**

API: [OpenUserJs/OpenUserJS.org/blob/`0220412`/controllers/scriptStorage.js#L744-L755](https://github.com/OpenUserJs/OpenUserJS.org/blob/0220412caa8192449c2decec68b2be1e75d4d79e/controllers/scriptStorage.js#L744-L755)

**JavaScript output or error produced.**

IIFE is stripped completely out as compared to last stable tested of *uglify-es*@3.0.10

<!--
    Note: `uglify-js` only supports ES5. 
    Those wishing to minify ES6 should use `uglify-es`.
-->


Refs:
* https://www.w3schools.com/js/js_function_closures.asp
* https://developer.mozilla.org/docs/Glossary/IIFE
* https://en.wikipedia.org/w/index.php?title=Immediately-invoked_function_expression&oldid=786562074#Usage
* [https://openuserjs.org/src/scripts/Marti/RFC 2606§3 - Hello, World.min.user.js](https://openuserjs.org/src/scripts/Marti/RFC_2606%C2%A73_-_Hello%2C_World!.min.user.js#) *(real time live uglify-es until we downgrade)*

Bug appeared between *uglify-js*@3.0.15 ***(PASS)*** and *uglify-js*@3.0.17 ***(FAIL)*** . 

https://github.com/mishoo/UglifyJS2/releases/tag/v3.0.16 appears to be not available on npmjs.com for release isolation testing:


``` sh-session
npm ERR! notarget No compatible version found: uglify-es@3.0.16
```

What is the actual issue? `(function () { alert('Hello world'); }())` being transformed to `alert('Hello world');`?

> What is the actual issue? `(function () { alert('Hello world'); }())` being transformed to `alert('Hello world');`?

Not quite *(stripping out the comments and license since this is a three line unit test for the last 10ish years)*:

``` js
(function () {

  alert('Hello, World!');

})();
```

... resolves to *(comments and license stripped yet again)*:

``` js
alert("Hello, World!");
```

... should be *(again comments and license temporarily stripped)* ...

``` js
!function(){
alert("Hello, World!")}();
```

See the references [above](https://github.com/mishoo/UglifyJS2/issues/2166#issue-238450641) for IIFE usage if there are any questions.

I know what IIFEs are, thank you.

Now what is the actual issue?

See [section above](https://github.com/mishoo/UglifyJS2/issues/2166#issue-238450641) with label of "JavaScript output or error produced."

This transformation is safe. If it's not, please clearly explain what the *actual* issue is.

> This transformation is safe.

No it's not.

> I know what IIFEs are, thank you.

Think adding variables to the global namespace. So it is definitely **not** safe.

You must be confused over what this transformation does, since it does not introduce global variables:

```
echo '(function () { var foo = 5; alert(foo); }())' | ./bin/uglifyjs -c 'reduce_vars=0'
!function(){var foo=5;alert(foo)}();
```
vs.
```
echo '(function () { var foo = 5; alert(foo); }())' | ./bin/uglifyjs -c
alert(5);
```

@rvanvelzen

You are quite confused on how IIFE's work. Since it's been talked about with our OUJS organization we will probably be dropping *uglify-js* and issuing a *node* cert against this project for allowing this security breach. 

I really wish that this project would get their recent heads out of the *****. People shouldn't be afraid of retaliation from maintainers.

Btw this is a breaking change... so it's been screwed up there as well.

I'm confused with this issue.
IIFEs cannot be transformed into non-IIFEs...  That defeats the purpose of using an IIFE.

Removing an IIFE is not safe.  What is the solution to this @Martii ?

nevermind @Martii I found your issue here: https://github.com/OpenUserJS/OpenUserJS.org/commit/89566179afee5a8afd85cbc4f68609a3bb073626

To anyone who comes across this issue, it appears that @rvanvelzen is confused as to the purpose of an IIFE, and the fact that it is not safe to remove it. You should add: `compress: { inline: false }` to your options.
