[ES1-7] `return` outside of function

So we've got a few failures in minification already... this report is the first one, tested and confirmed.

A great way to circumvent by throwing a monkey wrench into *UglifyJS2* *(with the API)* via Greasemonkey *(GM)* is to use the following script:

``` js
// ==UserScript==
// @name          RFC 2606§3 - Hello, World!
// @namespace     http://localhost.localdomain
// @description   Test minification with return statement
// @copyright     2007+, Marti Martz (https://openuserjs.org/users/Marti)
// @license       GPL version 3 or any later version; http://www.gnu.org/copyleft/gpl.html
// @license       (CC); http://creativecommons.org/licenses/by-nc-sa/3.0/
// @version       0.0.0
// @author        Marti Martz <somewhere@example.com> (https://openuserjs.org/users/Marti)

// @include   http://www.example.com/*
// @include   http://www.example.net/*
// @include   http://www.example.org/*
// ==/UserScript==

// ==OpenUserJS==
// @author Marti
// ==/OpenUserJS==


var condition = true;

if (condition) {
  return; // NOTE: Sabotage any minification with this valid code
} else {
  console.log('I am going to be doing something else now');
}
```
... which with our error trap will return this:

``` sh-session
MINIFICATION WARNING (harmony):
  message: 'return' outside of function
  installName: Marti/RFC_2606§3_-_Hello,_World!.user.js
  line: 25 col: 8 pos: 859
```
With GM there **may be** a wrapped function call depending on version and in most browsers there is always an implied "caller". With some versions of recent Mozilla based browsers the caller is usually a restricted privileged application in which scoped `caller` will be forced to `null` or `undefined` for the scope of the script depending on injection.

Work around:

1. This code can obviously be rewritten without the `return` statement and/or optionally placed in [an IIFE](https://developer.mozilla.org/docs/Glossary/IIFE) *(both the preferred Mozilla style and Chrome style included)* however however it may be inconvenient for some and not fully backward compatible... and definitely a way to destroy the feature.
2. Something else?


Suggestion*(s)*:

1. Add a [generator](http://lisperator.net/uglifyjs/codegen) and/or [compressor](http://lisperator.net/uglifyjs/compress) option to ignore this **warning** *(__not__ supposed to be an error)* that we can set for looser strictness. *(I'm not seeing [this commit methodology](https://github.com/mishoo/UglifyJS2/commit/f36a1eaa8b5203ab7e4616108c33a0b68668a8db) referenced at these docs... __Did I miss it?__)*
2. Something else?

External refs:
* https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/return
* [ES1 spec](http://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-262,%201st%20edition,%20June%201997.pdf) *(Do a search in the PDF... more tightly restricted here)*
* [ES6 spec](http://www.ecma-international.org/ecma-262/6.0/#sec-return-statement) *(Less restricted here by denoting `caller`)*
* https://github.com/greasemonkey/greasemonkey/issues/1670
* https://github.com/greasemonkey/greasemonkey/commit/d0a47f3a3efc29a59d08a5c2e512234a8602a03e  *(special note on how this is currently handled)*
* greasemonkey/greasemonkey#1592

Historical refs:
* https://github.com/mishoo/UglifyJS2/issues/288  *(the assumptions here are too vague as are the ECMAScript specs of course)*
* https://github.com/mishoo/UglifyJS2/search?q=bare+returns&type=Code&utf8=%E2%9C%93

TIA

Cc: @fabiosantoscode and @avdg *(mishoo will always get these as owner so omitting)*

Are you using the harmony branch? If not, which version of uglifyJS are you running?

This is applicable for ES1 through ES7 as @mishoo [wanted in the subject](https://github.com/mishoo/UglifyJS2/issues/448#issuecomment-173626087)... doesn't currently matter if it's the harmony branch... e.g. happens in current release as well.

The CLI is referenced with the commit above but I think it was missed in the API version of this project. :\

Also, I just threw the code in the browser console. Chrome doesn't accept it either. So I'm not sure what to do since it seems to be a non-standard syntax.

> not sure what to do

The commit in the CLI is https://github.com/mishoo/UglifyJS2/commit/f36a1eaa8b5203ab7e4616108c33a0b68668a8db

We are getting several dozen of these "errors" and GM handles them as "warnings" depending on if a `function` is available or not.

> Chrome doesn't accept it either.

I'll try TamperMonkey with Chromium in a moment but I seem to recall it wraps too.

I see the spec does require return statement to occur in functions. So the best thing you can do is to wrap the code.

At least I hope it's not about a lot of code :-)

> So the best thing you can do is to wrap the code.

We can't do that if it's a library script or something that is "export"ed into the sandbox.

>  spec does require return statement to occur in functions

As I stated it's quite vague in the specs and got looser as ECMA-Script evolved... the implied function caller is always present in all browsers... the ES committee needs to strict'ify this a bit more in ES7... but until then it's valid syntax except for ES1.

> As I stated it's quite vague in the specs and got looser as ECMA-Script evolved...

It's quite good defined in the grammar once a geek with above average understanding can read it. So there is no room for argument about that once the understanding is on the same level.

Note: es6 syntax below
```
Statement[Yield, Return] :
    BlockStatement[?Yield, ?Return]
    VariableStatement[?Yield]
    EmptyStatement
    ExpressionStatement[?Yield]
    IfStatement[?Yield, ?Return]
    BreakableStatement[?Yield, ?Return]
    ContinueStatement[?Yield]
    BreakStatement[?Yield]
    [+Return] ReturnStatement[?Yield]
    WithStatement[?Yield, ?Return]
    LabelledStatement[?Yield, ?Return]
    ThrowStatement[?Yield]
    TryStatement[?Yield, ?Return]
    DebuggerStatement

ReturnStatement[Yield] :
    return ;
    return [no LineTerminator here] Expression[In, ?Yield] ; 

FunctionBody[Yield] :
    FunctionStatementList[?Yield]
    FunctionStatementList[Yield] :
    StatementList[?Yield, Return]opt
```

> I'll try TamperMonkey with Chromium in a moment but I seem to recall it wraps too.

Passes as valid code in Chromium Version 47.0.2526.106... which is where Chrome gets their code from.

... so ....

> Chrome doesn't accept it either.

is invalid. *(just stating a fact here so please don't get upset because I'm super literal)*

Running chrome 47.0.2526.111 m (64-bit), pressing f12, pasting code, not working here.

Tampermonkey may wrap the code as a function, so that might make contextual difference (so that's chrome respecting the grammar on the parsing side because TamperMonkey probably injects code that way)

> It's quite good defined in the grammar once a geek with above average understanding can read it.

This portion could have been omitted though... I respect this project and you for what you've done but please, oh please, don't do passive-aggressive statements... anyhow enough of that off-topic reply to your response.

I spent the weekend drafting and rerreading the spec and what @mishoo did was to allow the option in the CLI but it needs to be put in the API otherwise OUJS may have to drop any and all support of *UgliflyJS2*... which I am hoping isn't the case. I haven't even drafted up the next issue yet which is something you'll probably respond with similarly.

Note that I didn't take a decision in the UglifyJS situation yet, I'm just making sure we're on the same page.

But at the same time it wouldn't be interesting to output code with return statement in global-ish scope that ends up browsers saying that the code is invalid (though it's not likely we would encounter this phase by compressing the code anyway).

So, this is possible with `--bare-returns` on CLI, but not via the API. It's a trivial change, so you're free to send a PR.

@rvanvelzen 

> It's a trivial change, so you're free to send a PR.

Thanks.... Perhaps for a seasoned collaborator though... but as I pointed out to one of our users I'm just barely entering into this package directly... so a PR would be bound to be flawed or hit the wrong chord with someone since I don't fully have "the larger picture" of the logic of the code itself and the flow of things here just yet. There are some advanced items I haven't even tested yet but I did go looking for them. When a new collaborator comes into the fold there is bound to be some learning curves.

That being said... I'll see what I can do for an option when time permits outside of OUJS. I don't have the *luxury* of a single component project to maintain... I have 3 major duties alone just for OUJS production and development of OUJS so that makes more. The harmony branch is where this is most needed for the experimental test of *UglifyJS2* and it will probably be there that I concentrate ... since there is release vs harmony. Cc: @fabiosantoscode  

> so a PR would be bound to be flawed or hit the wrong chord with someone

I doubt that, since it's all pretty straightforwardly implemented in the cli right now.

There's 2 relevant locations:

* in [`bin/uglifyjs`](https://github.com/mishoo/UglifyJS2/blob/master/bin/uglifyjs#L356), where it is currently implemented
* in [`tools/node.js`](https://github.com/mishoo/UglifyJS2/blob/master/tools/node.js#L61), where the `.minify()` api method is defined.

... But maybe I'm reading this all completely wrong, and those files point you to exactly what you need?

> straightforwardly implemented in the cli right now.

The CLI isn't organized in the same representational logic as the API though... which is why I mentioned both API Objects [above](https://github.com/mishoo/UglifyJS2/issues/935#issue-128615489) under suggestions e.g. I don't know if this would be a generator option, compressor option, or at the "top-level" where `fromString` resides... or another object that is specific to `parser`... this is the part of the flow I haven't fully figured out yet with the "shortcut" of `minify`... being only a few weeks into this project directly.

Some scribblings *(notes)* out loud for this.

Taken from the README.md and also code comments e.g. a consolidation...

> The current sequence is 
1. parse *(this is where the option would be needed to be mapped to)*
2. compress 
3. mangle properties
4. mangle
5. generate output code.

vs [`minify()` which has currently](https://github.com/mishoo/UglifyJS2/blob/799509e145e56a9a6ccbaad6d32e1c404e0469eb/tools/node.js#L33-L46): 

``` js
exports.minify = function(files, options) {
    options = UglifyJS.defaults(options, {
        spidermonkey     : false,
        outSourceMap     : null,
        sourceRoot       : null,
        inSourceMap      : null,
        fromString       : false,
        warnings         : false,
        mangle           : {}, // This is item 4 above
        mangleProperties : false, // This is item 3 above
        nameCache        : null,
        output           : null, // This is item 5 above
        compress         : {}            // This is item 2 above
    });
```

So my guess is that `parser` would need to be created to `minify`'s `option` sub-property... keeping in line with prior commits, logic structure e.g. `output`, `compress`, `mangle`, and `mangleProperties` property.

This tells me to "match" as close as possible to the current project maintainers:
* Code wise to use interCaps *(camel-casing)* for property names
* White-space seems somewhat ignored as `){` and `) {` are present nearby... STYLEGUIDE stuff
* Create `parser` there and pass those around [`799509e`/tools/node.js#L63-L65](https://github.com/mishoo/UglifyJS2/blob/799509e145e56a9a6ccbaad6d32e1c404e0469eb/tools/node.js#L63-L65)



@rvanvelzen Cc: @mishoo , @fabiosantoscode and anyone else who cares to chime in
I think I have enough analysis data above to do this *(at least try)* but...

This is going to get way confusing here on how to do this... OUJS has a fork of upstream here... and as a rule of thumb, so far, if I fork our upstream personally *(which is preferred)*... I'd want to incorporate that into OUJS's fork so we could use it right away... in which case upstream here would never see the PR I think... then I'd have to merge it into the harmony branch and the harmony-named branch.

For upstream here a git remote would need to be added I think to the OUJS fork to grab the PR there... but never done it this complicated before.

Any ideas on making this simpler with the above requirements?

Returning outside of a function is really not per the spec. It's only possible in node (since it wraps its modules in a function) but imho it's a bug.

But!

I have been known to use this to early-return from browser-only node modules, for example, and it turns out to be pretty useful. Tbh uglifyjs shouldn't concern itself with imposing the restriction of a return being inside a function, and although I haven't checked, the change is probably just the removal of an assertion.

Whether to do this, however, is certainly not my decision, and neither is defining what uglifyjs should do in the face of invalid constructs.

However a workaround exists, which is to wrap the module in a function declaration before minification and remove it afterwards.

> early-return from browser-only node modules

Yah that's what I've seen it used with... I usually IIFE my Userscripts going way back and never see this... but asking everyone on the planet to do this from our standpoint won't travel very far... especially with library scripts that are pre `export` ;)

I've monkey hacked it into our node_modules folder harmony branch *(a massive 2 lines total for change besides the README.md)* and using the data analysis from above **it works!**:

``` js
// ==UserScript==
// @name          RFC 2606§3 - Hello, World!
// @namespace     http://localhost.localdomain
// @description   Test minification with return statement
// @copyright     2007+, Marti Martz (https://openuserjs.org/users/Marti)
// @license       GPL version 3 or any later version; http://www.gnu.org/copyleft/gpl.html
// @license       (CC); http://creativecommons.org/licenses/by-nc-sa/3.0/
// @version       0.0.0
// @author        Marti Martz <somewhere@example.com> (https://openuserjs.org/users/Marti)
// @include   http://www.example.com/*
// @include   http://www.example.net/*
// @include   http://www.example.org/*
// ==/UserScript==
// ==OpenUserJS==
// @author Marti
// ==/OpenUserJS==
var condition=!0;if(condition)return;console.log("I am going to be doing something else now");
```

... so until GM/TamperMonkey/and the plethora of other extensions/add-ons that do Userscripts don't wrap the `caller` we need it I believe... plus this abstracts it enough when it is "deprecated" or "strictly defined" in ES7+ the loose nature is still around... plus it's already in the CLI... just needs mapping to the API for usage. :)

So there's the code reference... time to see what chords this twinges. :)

Cleaned up the commits a bit more in a [new PR](https://github.com/mishoo/UglifyJS2/pull/962)... same code though with some README.md enhancements... a few hours of RnR help for clarity.

As I forewarned fabiosantoscode I'm a bit noisy, this time due to learning curve and a few tired mistakes... so apologies again and hopefully I have this complex system down a bit better. :)

@rvanvelzen 
Thank you!!! :)

@fabiosantoscode 
Now that https://github.com/mishoo/UglifyJS2/commit/cdba43cfa44c15fe12f87c356dad4caa5a946b5b is merged... to close this issue would you be willing to do some updates in your harmony fork? or should I just go with my `harmony-named` fork on OUJS and do that until you are ready to match a release?

@Martii the harmony branch on this repository is not under my control, it's usually the maintainers who dilligently merge master into it once in a while <3

@fabiosantoscode 
Okeee... I'll probably just map the commit into our harmony-named branch *(or maybe another branch to keep it as clean for merge conflicts)* then...will ease up the bunches of stderr messages we get and I get to read. ;) :) Thanks.

Can this issue be closed?

Merged into `harmony` with f94497d1d6c37ebd72a9c2d83fc74980e1b82d17 and `master` in cdba43cfa44c15fe12f87c356dad4caa5a946b5b

Sorry about that.