[ES6] Error when parenthesis string is envolved by parenthesis

`('(')`

Unexpected token eof «undefined», expected arrow «=>»

```
$ uglifyjs -V
uglify-js 2.6.2

$ echo "foo( ('(') );" | uglifyjs -c -m
foo("(");
```

Are you using the uglify harmony branch?


@kzc yep

Could you put [ES6] in the issue title?

https://github.com/viclm/UglifyJS2/commit/0976a7ca2c04bf705acd91987c7f2c90bd7104ca

Someone beat me to this. :) Cc: @fabiosantoscode 

Dummy Userscript extraction that doesn't really do anything other than produce the minification issue reported here

``` js
(function () {

// ==UserScript==
// @name          RFC 2606§3 - UglifyJS2 (Harmony) Unit Test
// @namespace     https://openuserjs.org/users/Marti
// @decription    Tests harmony minification
// @copyright     2016+, Marti Martz (https://openuserjs.org/users/Marti)
// @license       (CC); http://creativecommons.org/licenses/by-nc-sa/3.0/
// @license       GPL version 3 or any later version; http://www.gnu.org/copyleft/gpl.html
// @version       2016.03.09
// @icon          https://www.gravatar.com/avatar/7ff58eb098c23feafa72e0b4cd13f396?r=G&s=48&default=identicon

// @include   http://www.example.com/*
// @include   http://www.example.net/*
// @include   http://www.example.org/*

// @grant       none
// ==/UserScript==

  function (col) {
    return col.slice(0, col.indexOf('('));
  }

})();

```

``` sh-session
MINIFICATION WARNING (harmony):
  message: Unexpected token: punc (()
  installName: Marti/RFC_2606§3_-_UglifyJS2_(Harmony)_Unit_Test.user.js
  line: 20 col: 11 pos: 742
```

We see a lot of these...

``` sh-session
2016-03-09 10:23:47.724 +00:00: MINIFICATION WARNING (harmony):
  message: Unexpected token punc «)», expected arrow «=>»
  installName: vBm/Omerta_Beyond.user.js
  line: 970 col: 40 pos: 34036
```
... taken from https://openuserjs.org/scripts/vBm/Omerta_Beyond/source and our logs.


@mishoo and @fabiosantoscode 
I've set up a `Warning` header as close to the specification as I can *(there are some node and express issues with headers)* so that if there's an issue with minification it will be possible to automate it just by dropping the ...`.min.`... link in here. See OpenUserJs/OpenUserJS.org#923 if interested. It is Q encoded since the error messages generated here in this project may not be guaranteed to be ISO-8859-1... so a little bit of decoding will need to be done and/or memorizing what Unicode characters mean what in Q encoding for this project.

Example:
* [https://openuserjs.org/src/scripts/vBm/Omerta_Beyond**.min**.user.js#](https://openuserjs.org/src/scripts/vBm/Omerta_Beyond.min.user.js#)  *(view this with a request observer such as Live HTTP Headers, or equivalent)*

I've also added a Minified Source button dropdown to script homepages for more ease of checking

Example:
* https://openuserjs.org/scripts/vBm/Omerta_Beyond/source *(see currently "Raw Source", blue button with dropdown that says "Minified Source")*

@viclm 
Ran [your patch](https://github.com/mishoo/UglifyJS2/issues/1001#issuecomment-193651668) against some of our data... seems to fix the paren issue but not the square brace one *(the third example above named `open2chYouVideo`)*... nice job though on the parenthesis  find. :)

@Martii:

```js
(function () {
// ...
  function (col) {
    return col.slice(0, col.indexOf('('));
  }

})();
```

This is not a valid program, so it's not surprising that it fails to parse. (The inner function is in statement position, thus requiring a name)

@rvanvelzen 

> Dummy Userscript extraction that doesn't really do anything other than produce the minification issue reported here

===:

> This is not a valid program

... Just because it's not a real program doesn't negate the parsing error in *UglifyJS2*... it is syntactically correct just doesn't do anything... it's an example if you would please reread what was posted and requoted ... **technically it's dead code without the name but still a 100% valid [function expression](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/function)** ... just think if it didn't have my typical IIFE around it... e.g. ignore that as it's just a layer of abstraction... however...

> so it's not surprising that it fails to parse.

The parsing failure is denoted by @viclm and called out with a fix... I'm just here to confirm that he's right that there is definitely an issue. I can bombard this projects issue tracker with the dozens, if not hundreds of parsing errors this project has *(we have ~300+ so far this month unsorted and this is a conservative count)* but I thought I might be more constructive by actually isolating as much as I can for this project in order to improve it... filtering and condensing logs when needed  including common mistakes that may generate a parsing error, etc. We have a growing, large community over at our service so it would be nice to be able to offer suggestions, confirm accuracy, etc. to our dependency friends out there.

There are multiple errors with parsing in this project that I haven't posted yet including `{` instances and of course the `[` that I already did post above... all end up containing the "expected arrow" message with **valid Userscripts**.

Point of the matter is that somewhere in the ES6 code it's interfering with with ES5. Cc: @fabiosantoscode 

Our first logged instance of this issue occurred on `2016-02-18 02:14:39.067 +00:00: MINIFICATION WARNING (harmony):`... so I would suspect somewhere around slightly before that date with one of the commits in this project is when the bug was introduced.


acorn@3.0.4 agrees with @rvanvelzen's assessment:

```
$ acorn --ecma6 <<EOF
  (function () {
    // ...
    function (col) {
      return col.slice(0, col.indexOf('('));
    } 
  })();
EOF
Unexpected token (3:11)
```

> We're all volunteering our time here

So are we... and we've bent over backwards to promote this project and suppress the negative connotations in the global community. e.g. change perceptions.

> insulting diatribes

Change your perception please as it's incorrect as well as snarky *(flaming, trolling, etc.)*

> long-winded

Prefer the term of completeness instead of being lazy like some want and expect. My colleagues in the office have just read this and they concur with the assessment. We are handing this data as a courtesy... perhaps some equal return courtesy would be nice... including reading everything and not falling back on the TLDR aspect of some.

> We're happy to receive succinct bug reports and pull requests.

That's great... perhaps referencing back to the PR would have been prudent as I just did that above... that's why CONTRIBUTING.md exists on GH. :) I don't expect full a bureaucracy but to alleviate some miscommunications it's a wise idea to do.

> But if you want to take your javascript minification business elsewhere, that's up to you.

It's actually up to this project and how it will be rated from a global standpoint. e.g. this projects reputation is on the line as the aphorism goes and so far at least one is burning one of the few advocates *(me)* of it. This I will be blunt on... that's a stupid move.

Anyhow... rather than me receiving a defensive posture and drama which seems to be this issues preferred responsed form of communication so far... **how about confirming that is the correct patch for some constructive feedback? Is it? Do you know?**

One more time in case it was missed for the third time... is that the correct patch? *(if no one decides to answer this simple question I won't be responding anymore to this issue as it's a confirmed issue on our end of several million users in the Userscript and *node* communities. :)*

I've merged @viclm's PR, which should resolve the original issue. For issues other than the eager parsing of arrow functions, please open a new issue.

@Martii Please stop hijacking threads with useless commentary.

I completely missed the development of this conversation, and just wrote an unnecessary fix lol :) thanks @viclm for fixing the bug I introduced. Sorry about the oversight.

Not mentioning any names in specific:

https://xkcd.com/438/

Let's get along, everyone :heart: there's no need to be aggressive. I believe we're all working towards the same goal.

Have a beautiful day!